body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-1{
    background-color: #87509c;
    height: 600px;
    color: white;
}

.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

header img{
    height: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 55px;
}

nav ul li{
    display: inline-block;
    padding: 10px 16px;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}

nav ul li:hover{
    background-color: #6b3a75;
    border-radius: 5px;
    transition: 0.3s ease-out;
}

.main-heading{
    text-align: center;
    margin-top: 100px;
}

.main-heading h1{
    font-size: 42px;
    color: white;
    font-weight: bold;
}

.main-heading a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.main-heading a:hover{
    background-color: white;
    color: #87509c;
    transition: 0.3s ease-in-out;
}

/* pjesa 2 */

#section-2{
    background-color: #f1f1f1;
    min-height: 745px;
    color: #333;
}

.title-box{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 609px;
}

.title-box h2{
    font-size: 32px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 100px;
}

.title-box .line{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 87px;
    height: 4px;
    background-color: #87509c;
    margin-left: auto;
    margin-right: auto;
}

.services-box{
    margin-top: 80px;
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.service{
    width: 24%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.service h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.service p{
    font-size: 16px;
    line-height: 1.6;
    color: #676;
}

#section-3{
    background-color: #87509c;
    min-height: 400px;
    color: white;
}

#section-3 .line{
    background-color: white;
    width: 87px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
}

#contact-form{
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.form-row{
    display: flex;
}

input[type="text"], input[type="email"]{
    width: 46%;
    height: 56px;
}

input[type="text"], input[type="email"], textarea{
    padding-left: 26px;
    margin: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: #6b3a75;
}

textarea{
    width: 100%;
    height: 200px;
    padding-top: 24px;
}

input[type="submit"]{
    background-color: white;
    color: #87509c;
    border: none;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

input[type="submit"]:hover{
    background-color: #6b3a75;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-links{
    max-width: 700px;
}

footer ul li{
    list-style: none;
    color: #333;
    margin: 0px 10px;
    font-weight: bold;
    display: inline-block;
}

footer ul li a{
    text-decoration: none;
    color: #333;
}

@media only screen and (max-width: 800px){
    header{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }

    header img{
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto; 
    }

    .main-heading a{
        font-size: 12px;
        padding: 5px 10px;
    }

    .main-heading{
        margin-top: 0;
    }
    
    nav ul li.active{
        padding-right: 0;
    }

    nav ul{
        padding-left: 0;
    }

    .service{
        width: 100%;
    }

    .services-box{
        flex-direction: column;
    }

    .title-box{
        width: 90%;
    }

    .form-row{
        flex-direction: column;
    }

    input[type="text"], input[type="email"], textarea{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    footer ul{
        flex-direction: column;
    }

    footer ul li{
        text-align: center;
        width: 90%;
    }

}