/* @media(min-width: 600px) {
    body {
        background: cadetblue;
        color: white;
    }
} */

@media all and (max-width: 900px) {
    body {
        background: darkcyan;
        color: white;
    }
}

h1{
    border: 2px solid black;
    padding: 20px;
}

@media all and (orientation: landscape) {
    h1 {
        font-size: 80px;
    }   
}

@media all and (orientation: portrait) {
    h1 {
        font-size: 40px;
        color: brown;
    }   
}

@media (min-width: 600px) and (max-width: 900px) {
    img {
        display: none;
    }
}

@media (min-width: 600px){
    p{
        column-count: 2;
    }
}